{% extends app.request.pathinfo == "/profile/change-password"
    ? "bundles/FOSUserBundle/layout.html.twig"
    : 'FOSUserBundle:ChangePassword:changePassword_content.html.twig'%}

{% block fos_user_content %}
  <div class="article">
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
  </div>
{% endblock fos_user_content %}
